ul[data-type="taskList"] {
  list-style: none;
  padding: 0;

  p {
    margin: 0;
  }

  div {
    margin: 0;
  }

  li {
    display: flex;

    > label {
      margin-right: 0.5rem;
      margin-top: 0.1rem;
      user-select: none;
    }

    > div {
      flex: 1 1 auto;
    }

    ul li,
    ol li {
      display: list-item;
    }

    ul[data-type="taskList"] > li {
      display: flex;
    }
  }
}

blockquote {
  p:after,
  p:before {
    content: "" !important;
  }
}

.tiptap p.is-empty::before {
  @apply font-semibold text-neutral-500;
  content: 'Type "/" to browse options.';
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap {
  pre {
    /* background: #0d0d0d; */
    /* border-radius: 0.5rem; */
    /* color: #fff; */
    font-family: "JetBrainsMono", monospace;
    /* padding: 0.75rem 1rem; */

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }
}
