@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: theme(colors.neutral.800);
}
::-webkit-scrollbar {
  @apply h-1 w-1 border;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color);
  outline: 0;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
