.node-mathDisplay {
  margin-block: 0.75rem;
  .math-display {
    .math-src {
      overflow: hidden;
      height: 0px;
      margin-top: 0.5rem;
      @apply text-neutral-400;
    }
  }
  &.has-focus {
    @apply rounded ring-1 ring-neutral-800;
  }
}

.node-mathDisplay.has-focus .math-display .math-src {
  height: auto;
}

.math-render:empty {
  @apply text-rose-300/70;
}

.math-render:empty::before {
  @apply font-mono;
  content: "Empty Math";
}

.math-src::after,
.math-src::before {
  content: "$$";
  text-align: left;
  @apply text-neutral-600;
}
