.sidebar {
  height: 100vh;
  height: 100dvh;
  @apply w-0 border-transparent;
  transition:
    width 0.2s linear,
    border 0.05s linear;
}
.open {
  @apply w-screen border-neutral-800 sm:w-72;
}

.tab .tab-header:has(input:checked) ~ .content {
  max-height: fit-content;
}
